*{
    margin: 0;
    padding:0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#4c4c4c;
}
.top{
    width: 7.5rem;
    height:2rem;
    background-color: cornflowerblue;
    float: left;
}
.left{
    width:2rem;
    height:4rem;
    background-color: darkseagreen;
    float: left;
}
.right{
    width: 5rem;
    height:4rem;
    background-color: lightcoral;
    float: right;
}